## List of Participants Completed the Workshop

| Name | Designation | Department | Institution |
|---|---|---|---|
| Jisha Ann Abraham | Faculty | Mathematics | Saintgits College of Engineering, Kottayam |
| Thomaskutty Stephen | Faculty | Mathematics | Saintgits College of Engineering, Kottayam |
| Derin Raju | Faculty | Mathematics | Saintgits College of Engineering |
| Jobin Jose | Faculty | Mathematics | Saintgits College of Engineering (Autonomous), Kottayam |
| Dr. Lekha Susan Jacob | Faculty | Mathematics | Saintgits College of Engineering (Autonomous) |
| Dr. Merina Aruja | Faculty | Mathematics | Saintgits College of Engineering |
| Devika P Nair | UG Student | CSE | Saintgits College of Engineering |
| Smitha K. S | Faculty | Mathematics | Saintgits College of Engineering |
| Nisha Thankachan | Faculty | EC | Saintgits |
| Radhika Biju | Faculty | Mathematics | Saintgits College of Engineering, Pathamuttom |
| Athiramol T V | Faculty | Mathematics | SAINTGITS College of Engineering (Autonomous), Pathamuttom |